.inputContainer {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 8px;
}

.inputContainer label {
    font-size: 20px;
    font-weight: 500;
    color: #4f5d75;
}

.inputContainer input {
    padding: 1px 5px;
    border: none;
    border-bottom: 2px solid #2d3142;
    border-radius: 2px;
    color: #2d3142;
    outline: none;
    font-size: 17px;
    width: 100%;
    background: transparent;
    transition: all 0.2s ease-in-out;
}

.inputContainer input::placeholder {
    color: #333;
}

/* hide input number arrows Chrome, Safari, Edge, Opera */
.inputContainer input::-webkit-outer-spin-button,
.inputContainer input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* hide input number arrows Firefox */
.inputContainer input[type='number'] {
    -moz-appearance: textfield;
}

.inputContainer input:hover,
input:focus {
    border-color: #b3679b;
}
