.selectContainer {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 6px;
}

.selectContainer label {
    font-size: 20px;
    font-weight: 500;
    color: #4f5d75;
}

.selectContainer select {
    padding: 1px 5px;
    border: none;
    border-bottom: 2px solid #2d3142;
    border-radius: 2px;
    color: #2d3142;
    outline: none;
    font-size: 17px;
    width: 100%;
    background: transparent;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all 0.2s ease-in-out;
}

.selectContainer select:hover {
    border-color: #b3679b;
}
