.SubmitButton {
    text-decoration: none;
    font-size: 20px;
    background: #2d3142;
    padding: 10px;
    border-radius: 5px;
    color: #bfc0c0;
    transition: all ease-in-out 0.2s;
    box-shadow: 0 0 10px #0000004f;
    border: none;
    cursor: pointer;
    min-width: 150px;
}

.SubmitButton:hover {
    color: #b3679b;
    box-shadow: 0 0 10px #b3679b;
    transform: scale(1.1);
}
