.section {
    width: 100%;
}

.headerImage {
    background-color: #b3679b;
    background-image: url('../../assets/companyImage.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
