.section {
    min-width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.section a {
    color: #b3679b;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
}

.section a:hover {
    border-bottom: 2px solid #b3679b;
}

.section h2,
.section h3 {
    font-size: 40px;
    color: #2d3142;
    font-weight: 500;
    margin-bottom: 10px;
}

.section p {
    font-size: 20px;
    color: #4f5d75;
    margin-top: 12px;
    line-height: 28px;
}

.bold {
    font-weight: 500;
}

.color {
    color: #b3679b;
}

.borderBottom {
    border-bottom: 2px solid #b3679b;
}

.contactHeader {
    background-color: #b3679b;
    background-image: url('../../assets/contactHeaderImage.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    z-index: 1;
    filter: brightness(60%);
    position: relative;
    top: -105px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
}

.contactHeader > div,
.contactHeader h3 {
    width: 100%;
    max-width: 1520px;
    margin: 0 auto;
    color: #bfc0c0;
    font-size: 50px;
    font-weight: 500;
    filter: brightness(140%);
}

.contactHeader > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-weight: 400;
}

.contactHeader div > p {
    border-bottom: 2px solid #2d3142;
    font-size: 30px;
    line-height: 35px;
    color: #bfc0c0;
}

.contactHeader div > svg {
    font-size: 60px;
    color: #b3679b;
    background: #2d3142;
    border-radius: 50%;
    padding: 5px;
}

.helpCenter {
    position: relative;
    top: -52.5px;
    padding: 0 20px;
    max-width: 1520px;
    margin: 0 auto 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.helpCenter > div:nth-child(1) {
    max-width: 960px;
}

.helpCenter > svg {
    color: #b3679b;
    font-size: 300px;
}

.helpCenterShowCase {
    padding: 0 20px 100px;
    max-width: 1520px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.mobileHelpCenterShowCase {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.mobileHelpCenterShowCaseDesc svg,
.desktopHelpCenterShowCaseDesc svg {
    font-size: 70px;
    padding: 10px;
    background: linear-gradient(45deg, #b3679b, #e688c8);
    border-radius: 40%;
    color: #eee;
}

.mobileHelpCenterShowCaseDesc h3,
.desktopHelpCenterShowCaseDesc h3 {
    margin: 8px 0 2px;
    font-size: 30px;
}

.mobileHelpCenterShowCaseDesc p,
.desktopHelpCenterShowCaseDesc p {
    margin: 0;
    width: 300px;
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
    position: relative;
    z-index: -2;
}

.desktopHelpCenterShowCase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.desktopHelpCenterShowCaseDesc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.desktopHelpCenterShowCaseDesc p {
    width: 400px;
}

.relationshipCenterBackground {
    padding: 80px 0;
    background: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.relationshipCenter > h2 {
    text-align: center;
    margin-bottom: 20px;
}

.relationshipCenter > p {
    max-width: 900px;
}

.serviceSector,
.sacChannel,
.ombudsmanSector {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    margin: 30px 0 60px;
}

.serviceSector svg,
.sacChannel svg,
.ombudsmanSector svg {
    background: #f5f5f5;
    padding: 20px;
    font-size: 100px;
    color: #b3679b;
    border-radius: 40%;
    box-shadow: 0 0 8px #0000004f;
    position: relative;
    z-index: 1;
}

.serviceSector ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}

.serviceSector ul a,
.sacChannel a,
.ombudsmanSector a {
    font-size: 35px;
    font-weight: 500;
    position: relative;
    z-index: 0;
}

.serviceSector ul li p {
    font-size: 19px;
    line-height: 20px;
    color: #2d3142;
    margin-top: 5px;
}

.ombudsmanSector {
    margin-bottom: 30px;
}

.investmentsHelp {
    padding: 80px 0;
    max-width: 1520px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.investmentsHelpDesc {
    max-width: 570px;
}

.investmentsHelpDesc h2 {
    font-size: 32px;
}

.investmentsHelpDesc p {
    font-size: 18px;
    text-align: justify;
}

.investmentsHelpLinks {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.investmentsHelpLinks > div {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 30px 20px;
}

.investmentsHelpLinks svg {
    font-size: 30px;
    color: #b3679b;
}

.investmentsHelpLinksDesc p {
    margin: 0;
    font-size: 20px;
    color: #2d3142;
    font-weight: 500;
}

.investmentsHelpLinksDesc a {
    font-size: 18px;
    font-weight: 500;
}

.iManagerSocials {
    padding: 80px 0;
    max-width: 1520px;
    margin: 0 auto;
}