.secContainer {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.projectContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 60px;
    gap: 20px;
}

.projectContainer h2 {
    font-weight: 300;
    font-size: 44px;
    color: #2d3142;
    border-bottom: 5px solid #b3679b;
    border-radius: 5px;
}

.projectContainer p {
    font-size: 22px;
    color: #4f5d75;
    margin-bottom: 10px;
    text-align: center;
}

.image {
    background-color: #b3679b;
    background-image: url('../../assets/createProjectImage.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 98%;
    width: 60%;
    border: 2px solid #b3679b;
    border-radius: 5px;
    box-shadow: 0 0 10px #0000004f;
    margin-right: 20px;
}
