.projectDetails {
    margin: 60px 20px 20px;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.titleContainer h2 {
    font-weight: 500;
    font-size: 40px;
    background: #2d3142;
    color: #ef8354;
    padding: 2px 6px;
    border-radius: 5px;
}

.projectInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.projectInfo svg {
    font-size: 100px;
    color: #ef8354;
}

.projectInfo p {
    color: #4f5d75;
    font-size: 22px;
    margin-bottom: 5px;
}

.projectInfo span {
    font-weight: 500;
}

.serviceContainer {
    border-bottom: 1px solid #2d3142;
    border-top: 1px solid #2d3142;
    padding: 20px 0;
    margin: 30px 0;
}

.serviceTitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.serviceListContainer {
    display: flex;
    flex-wrap: wrap;
}

.noServices {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 5px;
}

.noServices svg {
    color: #ef8354;
    font-size: 40px;
}

.noServices h3 {
    font-size: 22px;
    font-weight: 500;
    color: #2d3142;
}
