.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.minHeight {
    min-height: 75vh;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}

@media screen and (max-width: 1200px) {
    .start {
        justify-content: center;
    }
}