.iManagerFooter {
    padding: 50px 20px;
    max-width: 1520px;
    margin: 0 auto;
}

.iManagerFooter a {
    font-size: 14px;
    color: #4f5d75;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.iManagerFooter a:hover {
    color: #b3679b;
    border: none !important;
}

.footerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-content: center;
    border-bottom: 2px solid #bfc0c0;
    color: #2d3142;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.NasdaqListed p.NasdaqListedParagraph {
    font-size: 16px;
    color: #2d3142;
    line-height: 17px;
    margin: 0;
}

.NasdaqListed {
    border-radius: 30px;
    border: 2px solid #b3679b;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    color: #2d3142;
}

.NasdaqListed span {
    font-weight: 500;
}

.NasdaqListed span > span {
    color: #b3679b;
    font-size: 22px;
}

.NasdaqListed svg {
    font-size: 30px;
    color: #b3679b;
}

.downloadApp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.downloadApp h5,
.followIManager h5 {
    margin: 25px 0 5px;
    font-weight: 500;
    font-size: 19px;
    color: #2d3142;
}

.downloadAppButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.downloadApp button {
    padding: 10px 15px;
    font-size: 17px;
    font-weight: 500;
    color: #2d3142;
    border-radius: 10px;
    border: 1.5px solid #2d3142;
    transition: all 0.2s ease-in-out;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 160px;
    height: 50px;
}

.downloadApp button svg {
    color: #b3679b;
    font-size: 25px;
}

.downloadApp button:hover {
    color: #b3679b;
    border-color: #b3679b;
}

.followIManager ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.followIManager ul a {
    font-size: 24px;
    color: #2d3142;
}

div.midLinks ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.midLinks ul a {
    color: #4f5d75;
}

div.talkWithUs ul {
    list-style-type: none;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-top: 15px;
}

div.talkWithUs p {
    font-size: 15.5px;
    color: #2d3142;
    line-height: 17px;
    margin: 0;
}

div.talkWithUs p:nth-last-child(1) {
    font-size: 13.5px;
    color: #4f5d75;
    text-align: justify;
}

.talkWithUs a {
    color: #b3679b;
    font-size: 18px;
}

.talkWithUs a:hover {
    font-weight: 500;
}

.downFooter a,
.downFooter p,
.downFooter p.copyRightParagraph {
    font-size: 12px;
    color: #2d3142 !important;
}

.downFooter p,
.downFooter p.copyRightParagraph {
    margin: 20px 0 7px;
}

.downFooter ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

@media screen and (max-width: 1069px) {
    .footerContainer {
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .socialsGridPart {
        grid-column: 1/4;
    }

    .downloadAppButtons {
        flex-direction: row;
    }

    .socialsAndAppContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
}

@media screen and (max-width: 668px) {
    .socialsAndAppContainer {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 0;
    }

    .footerContainer {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .socialsGridPart {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    div.talkWithUs {
        grid-row: 1/2;
    }
}

@media screen and (max-width: 639px) {
    .downloadAppButtons {
        flex-direction: column;
    }
}

@media screen and (max-width: 532px) {
    .footerContainer {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 400px) {
    .footerContainer {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .socialsGridPart {
        grid-row: unset;
        grid-column: unset;
    }

    div.talkWithUs {
        grid-row: unset;
    }

    .socialsAndAppContainer {
        align-items: center;
        justify-content: center;
    }
}
