/*
    #2D3142
    #4F5D75
    #BFC0C0
    #33658a
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body,
#root {
    background: #eee;
    position: relative;
    z-index: -2;
}
