/*
    #020122
    #FF521B
    #FC9E4F
    #EDD382
    #F2F3AE
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body,
#root {
    background: #eee;
    height: 100%;
}
